/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { /*cursor: pointer;*/ }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
















/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}





/*
=============================================
01. global
=============================================
*/

body{background:url(../images/1-backgrounds/bg-main.jpg) repeat}
#container{background:url(../images/1-backgrounds/bg-center.jpg) no-repeat center top}
#footer-main{/*background:url(../images/1-backgrounds/bg-center.jpg) no-repeat 50% 85%*/}
a{text-decoration:none}
p{text-align:justify; color:#989296}
span{text-align:left}

h1, h2, h3, h4, h5, h6{font-weight:normal; line-height:100%}

a{
  -moz-transition: all 0.3s ease-out;  /* FF3.7+ */
  -o-transition: all 0.3s ease-out;  /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out; 
}

/*
=============================================
02 TYPOGRAPHY -> FAMILY
=============================================
*/


@font-face {
    font-family: 'SansusWebissimoRegular';
    src: url('../fonts/sansus_webissimo-regular-webfont.eot');
    src: url('../fonts/sansus_webissimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansus_webissimo-regular-webfont.woff') format('woff'),
         url('../fonts/sansus_webissimo-regular-webfont.ttf') format('truetype'),
         url('../fonts/sansus_webissimo-regular-webfont.svg#SansusWebissimoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a, p, li, .page-title, h1,
#content-top article h1,
.post .sidebar-inner header,
.contact.new form fieldset legend,
#header-main footer, .pagination, .cms h1, .contact h1,
.admin-greeting{font-family: 'SansusWebissimoRegular'}


@font-face {
    font-family: 'SansusWebissimoItalic';
    src: url('../fonts/sansus-webissimo-italic-webfont.eot');
    src: url('../fonts/sansus-webissimo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansus-webissimo-italic-webfont.woff') format('woff'),
         url('../fonts/sansus-webissimo-italic-webfont.ttf') format('truetype'),
         url('../fonts/sansus-webissimo-italic-webfont.svg#SansusWebissimoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

#content .sidebar-inner figure figcaption, #footer-main article > span,
#postcript-bottom article.logos-empresas figure figcaption,
.contact #content-top aside p,
p.sharing, a.btn-readmore{font-family: 'SansusWebissimoItalic'}


/*
=============================================
03 TYPOGRAPHY -> SIZE
=============================================
*/

/* default color #2 (#6dcff6) */

p{font-size:17px}


/*
=============================================
04 COLOR
=============================================
*/

/* logo */


#main-bottom article p {color:white}

/* default color #1 (#434343) semi-black */
#footer-main article > span, h1, h1 a, h1 a:visited{color:#434343}

/* default color #2 (#585858) semi-gray */
.breadcrumb li, .breadcrumb li a, #content p{color:#585858}

/* bevel bottom color gray (#a29e9c) */


/* default color #3 (#) */
.bevel-1-bottom{border-bottom:1px solid #e0b52c}
.bevel-1-top{border-top:1px solid #f0d036}


/*
=============================================
05 BACKGROUNDS
=============================================
*/

#postcript-top{background:url(../images/1-backgrounds/bg-secondary.jpg) repeat; border-bottom:1px solid #a29e9c}
#postcript-bottom{background:url(../images/1-backgrounds/bg-postcript-bottom.jpg) repeat-x} 
#main.not-front #preface-top{background:url(../images/1-backgrounds/bg-secondary.jpg) repeat}

/*
=============================================
06 HEADER (región)
=============================================
*/


/* region html5 blocks */
#header-main header{height:45px; position:relative}
#header-main section{height:95px; position:relative}
#header-main footer{height:90px; position:relative; font-size:17px}

#header-main footer h1{font-size:24px; text-align:justify}
#header-main footer h2{color:white}

#header-main section #logo{position:absolute; top:10px; left:0}

/* main menu */
#menu-main{width:600px; position:absolute; top:25px; right:0; overflow:hidden}
#menu-main ul li{float:left}
#menu-main ul li a{height:52px; background:url(../images/2-buttons/menu.png) no-repeat; display:block; outline:none; float:left}
#menu-main ul li.servicios a{width:136px; background-position:0 0}
#menu-main ul li.blog a{width:89px; background-position:-136px 0}
#menu-main ul li.fotos a{width:104px; background-position:-225px 0}
#menu-main ul li.staff a{width:100px; background-position:-329px 0}
#menu-main ul li.estrategicas a{width:162px; background-position:-429px 0}


/* current */
#menu-main ul li span{height:52px; background:url(../images/2-buttons/menu.png) no-repeat; display:block; outline:none; float:left; text-indent:-9999px}
#menu-main ul li.servicios span{width:136px; background-position:0 -70px}
#menu-main ul li.blog span{width:89px; background-position:-136px -70px}
#menu-main ul li.fotos span{width:104px; background-position:-225px -70px}
#menu-main ul li.staff span{width:100px; background-position:-329px -70px}
#menu-main ul li.estrategicas span{width:162px; background-position:-429px -70px}


/* secondary menu */
#menu-secondary{width:200px; height:45px; background:url(../images/2-buttons/menu.png) no-repeat -700px 0; position:absolute; top:0; right:0}
#menu-secondary ul{margin-left:26px}
#menu-secondary ul li a{height:20px; display:block; outline:none; float:left}
#menu-secondary ul li a.contacto{width:93px; margin:8px 0 0 12px}
#menu-secondary ul li a.twitter{width:20px; margin:7px 0 0 5px}
#menu-secondary ul li a.rss{width:20px; margin:7px 0 0 7px}
#menu-secondary ul li a.facebook{width:20px; margin:7px 0 0 7px}


#header-main footer h1{text-transform:uppercase}



/*
=============================================
09 MAIN (container)
=============================================
*/

#main.not-front{}
#content .sidebar-inner figure figcaption{font-size:16px}
#content .sidebar-inner figure figcaption span{font-size:13px}
.page-title{margin-bottom:0px !important}
.sidebar-inner ul li{list-style:none}


/*
=============================================
10 PREFACE-TOP (región)
=============================================
*/


#slider-container{padding-bottom:38px; background:url(../images/1-backgrounds/bg-slider-shadow.png) no-repeat 50% 105%; overflow:hidden }
#slider{border:5px solid white; overflow:visible}


/* not front */
#main.not-front #preface-top{height:120px; border-top:1px solid #f79a0d; border-bottom:1px solid #f79a0d; margin:20px 0 0px 0;/* overflow:hidden*/}
#main.not-front #preface-top .container_16{height:120px;/* overflow:hidden*/}
.full-side{width:100%; height:100%; position:relative; overflow:hidden}
.full-side img{margin:8px 0 0 0px; float:left}
.half-side{width:50%; height:100%; float:left; text-align:center; position:relative}
.half-side img{margin-top:8px}

.breadcrumb{float:left; margin-top:45px; padding-left:10px}


#breadcrumb{margin-top:50px; font-size:22px; color:black; font-weight:bold}
#breadcrumb a{font-weight:normal; color:#666; border-bottom:4px solid #666; display:inline-block}

#title-field{height:100%; font-size:22px; color:black; font-weight:bold; margin-left:275px;  position:relative; overflow:hidden}
#title-field[id]{display:table; position:static}
#title-field-middle{position:absolute; top:50%}
#title-field-middle[id]{display:table-cell; vertical-align:middle; position:static}
#title-field-inner[id]{position:static}
#title-field a{font-weight:normal; color:#666; border-bottom:4px solid #666}
#title-field h1{margin:0}


/*
=============================================
11 CONTENT-TOP (región)
=============================================
*/


#content-top{width:100%; overflow:hidden; background:url(../images/1-backgrounds/bg-main.jpg) repeat; padding-bottom:20px}
#content-top figure img{border:5px solid white; box-shadow:0 0 2px #666}
.post .sidebar-inner header span.date{float:left}

/*
=============================================
12 CONTENT (región)
=============================================
*/

#content{width:100%; overflow:hidden; background:url(../images/1-backgrounds/bg-main.jpg) repeat}

#content #sidebar-light{width:50%; min-height:650px; float:left; background:url(../images/1-backgrounds/bg-main.jpg) repeat}
#content #sidebar-dark{width:50%; min-height:650px; float:left; background:url(../images/1-backgrounds/bg-dark.jpg) repeat}

#content #sidebar-light .sidebar-inner{float:right}
#content #sidebar-dark .sidebar-inner{float:left}
.sidebar-inner{width:430px; padding:85px 0px 0 50px}



.servicio #content p{font-size:16px; -moz-column-count:2; -webkit-column-count:2; -moz-column-gap:20px; -webkit-column-gap:20px;/* -moz-column-rule:1px solid #fff; -webkit-column-rule:1px solid #fff;*/ margin:10px 0 30px}


#content .sidebar-inner figure img,
#content .container_16{position:relative}

#content figure img{border:5px solid white; box-shadow:0 0 2px #666}

/* PERSONALIZED */

.category-1 #preface-top .container_16{background:url(../images/3-images/sidebar-logo-laboral.png) no-repeat 0 7px}
.category-2 #preface-top .container_16{background:url(../images/3-images/sidebar-logo-consulting.png) no-repeat 0 7px}
.category-1 #breadcrumb{margin-left:275px}
.category-2 #breadcrumb{margin-left:275px}
.category-2 #content,
.category-2 #content-top{background:url("../images/1-backgrounds/bg-dark.jpg") repeat }

/* services */
.services #content .sidebar-inner h2,
#admin .sidebar-inner h2{text-align:center; margin-bottom:30px}
.services #content .sidebar-inner h2 span{position:relative}
.services .sidebar-inner{padding:45px 0 0 50px}
.services .sidebar-inner header{padding:0 20px; text-align:justify; height:120px; overflow:hidden}
.services .sidebar-inner nav{margin:50px 0}
.services #sidebar-light .sidebar-inner{padding:45px 50px 0 0px}
.services-show #content{padding-bottom:30px}
.services.cms #preface-top .container_16{position:relative}
.services.cms .sidebar-inner{padding-top:85px !important}
.services-show #content-top{padding:40px 0 10px}
.services-show #content-top figure{text-align:center; padding-bottom:30px}
.services-show #content-top figure{background:url(../images/1-backgrounds/bg-slider-shadow.png) no-repeat 50% 105%}


/* blogs */
.blogs #content #sidebar-light .sidebar-inner{width:450px; padding:85px 10px 0 20px}
.post figure{text-align:center; overflow:hidden}
.post.show figure{padding:40px 0 15px}
.post.show #content{padding-bottom:20px}
.post.cms #content .sidebar-inner{margin-top:50px}
.post .sidebar-inner{width:480px; padding:45px 10px 0 5px}
.post .sidebar-inner section{padding-left:10px; overflow:hidden; margin-bottom:50px; position:relative}
.post .sidebar-inner header{padding:0 20px 0 0; text-align:justify;  margin-bottom:10px; overflow:hidden}
.post .sidebar-inner header h1{margin:0}
.post .sidebar-inner header h1 a{line-height:100%}
.post .sidebar-inner header span{float:right}
.post .sidebar-inner nav{margin:10px 0 20px; overflow:hidden}
.post #sidebar-light .sidebar-inner{width:480px; padding:45px 15px 0 0px}
.post #sidebar-light .sidebar-inner figure img{float:left}
.post #sidebar-dark .sidebar-inner figure img{float:left}
body.cms .post .sidebar-inner header h1{padding-right:60px}
body.cms .post.cms .btn-del{position:absolute; top:11px; right:0}
/*.post article{margin-top:15px}*/


.cms .post #sidebar .sidebar-inner{padding:65px 50px 0 0}


/* álbums page */
.albums #sidebar-dark .sidebar-inner{padding:85px 40px 80px 10px}

/* álbum page */
.album #content img{border:4px solid white}
.album #content img{float:left; margin:0 10px 10px 0px}
.albums #content .sidebar-inner figure{width:215px; float:left; margin-bottom:20px}
.albums #content .sidebar-inner figure:nth-of-type(odd){clear:left}
.album.show #content{padding-bottom:40px}
.album.show h1.page-title{margin-bottom:15px !important}
.album.show #content footer{float:right; clear:left}

/* photo page */
.photo #content figure{text-align:center; margin:40px 0 80px}
.photo #content figure img{border:2px solid white}
.photos-index #content{padding:85px 0 35px}
.photos-adminlist #content figure{width:235px; float:left; margin:0 5px 20px 0}
.photos-adminlist #content figure figcaption a{margin-right:10px}

/* staff page */
.staff #sidebar-dark .sidebar-inner{padding:85px 40px 0 10px}
.staff #content .sidebar-inner figure{width:auto; overflow:hidden; margin-bottom:30px}
.staff #content .sidebar-inner figure img{float:left; margin-right:10px}
.staff #content .sidebar-inner figure figcaption{padding:0 10px 0 0}
.staff figcaption h2{margin:0}
.staff figcaption p{margin-top:5px}
body.cms .staff #content .sidebar-inner figure figcaption{float:left; width:185px}
body.cms .staff #content .sidebar-inner figure img{margin-right:0px}
body.cms .staff #content .sidebar-inner figure a.btn-edit{margin:0 10px 10px 0}

/* alliances */
.alliances #content dl{width:800px; min-height:300px; overflow:hidden; margin:0 auto}
.alliances #content dl dt{width:60%; float:left; /*background:url(../images/2-buttons/menu.png) no-repeat 380px -215px*/}
.alliances #content dl dt img{border:5px solid white; box-shadow:0 0 2px #666}
.alliances #content dl dd{width:40%; float:left; margin-left:0; position:relative}
.alliances #content dl dt, .alliances #content dl dd{margin-bottom:30px}
.alliances #content dl dd p{margin:0; position:relative; top:50%}
.alliances #content{padding:80px 0 80px}
.alliances #content dl dd{margin-top:105px}
.alliances #content dl dd p{font-size:24px}

/* contacts */
.full-side{overflow:visible; float:left}
.contact #content-top{padding-top:70px}


#preface-top .container_16{position:relative}


p.sharing{margin-bottom:0}



/*
=============================================
13 CONTENT-BOTTOM (región)
=============================================
*/


#content-bottom{width:100%; overflow:hidden}

#main.post{padding:40px 0 0px}
h1{font-size:24px}

.pagination em, .pagination span, .pagination a{margin:0 3px; font-size:16px}

/*
=============================================
 POSTCRIPT-TOP (región)
=============================================
*/

#postcript-top.front-blocks article{width:400px; height:180px; background:url(../images/global.png) no-repeat 0 0; float:left; margin:25px 0; display:table; position:relative}
#postcript-top.front-blocks article .middle{display:table-cell; vertical-align:middle; #position:absolute; #top:50%}
#postcript-top.front-blocks article p{width:80%; height:90%; position:relative; padding-left:50px; font-size:16px; #top:-50%}
#postcript-top.front-blocks article p span,
#postcript-top.front-blocks article span{width:45px; height:45px; position:absolute; top:54px; left:-15px; 
background:url(../images/global.png) no-repeat -423px -5px; display:block}

#postcript-top.front-blocks article.even{margin-right:80px}
#postcript-top.front-blocks article p span.a1{background-position:-423px -5px; top:39px}
#postcript-top.front-blocks article p span.a2{background-position:-423px -55px; top:39px}
#postcript-top.front-blocks article p span.a3{background-position:-423px -105px; top:19px}
#postcript-top.front-blocks article p span.a4{background-position:-423px -155px; top:29px}
#postcript-top.front-blocks article p span.a3.b{top:29px}

#postcript-top.front-blocks article span.a1{background-position:-423px -5px; top:70px}
#postcript-top.front-blocks article span.a2{background-position:-423px -55px; top:70px}
#postcript-top.front-blocks article span.a3{background-position:-423px -105px; top:70px}
#postcript-top.front-blocks article span.a4{background-position:-423px -155px; top:70px}
#postcript-top.front-blocks article span.a3.b{top:70px}

/*
=============================================
 POSTCRIPT-BOTTOM (región)
=============================================
*/

#postcript-bottom{}
#postcript-bottom article.logos-empresas{height:130px; overflow:hidden}
#postcript-bottom article.logos-empresas figure{width:50%; float:left; margin-top:15px}
#postcript-bottom article.logos-empresas figure figcaption{color:white}
#postcript-bottom article.logos-empresas figure img{margin-right:55px}

/*
=============================================
footer (región)
=============================================
*/


#footer-main .container_16{overflow:hidden}
#footer-main article{width:240px; float:left; margin-top:20px}
#footer-main article span{font-size:24px}
#footer-main article p{font-size:24px; margin-top:5px}
#footer-main article p a{ color:white; text-decoration:none; display:block; margin-bottom:10px}

.social-buttons a{height:35px; background:url(../images/2-buttons/menu.png) no-repeat -610px -120px; display:inline-block; padding-left:19px}
.social-buttons a span{ height:35px; background:url(../images/2-buttons/menu.png) no-repeat right -154px; display:block; font-size:20px}


.social-buttons a{width:17px; height:35px; background:url(../images/2-buttons/menu.png) no-repeat -4px 0px; margin-right:1px; float:left}
.social-buttons a.facebook{background-position: -690px -200px}
.social-buttons a.twitter{background-position: -742px -200px; margin:0 15px}
.social-buttons a.rss{background-position: -796px -200px}
.social-buttons a.in{background-position: -849px -200px}

.social-buttons a.facebook:hover{background-position: -690px -200px}
.social-buttons a.twitter:hover{background-position: -742px -200px}
.social-buttons a.rss:hover{background-position: -796px -200px}
.social-buttons a.in:hover{background-position: -849px -200px}






/*
=============================================
10 ANCHORS
=============================================

*/

h3.page-subtitle a.btn-back{margin-left:10px; float:none}
.btn-social{display:block; line-height:100%}
.btn-back{float:right; color:#585858; font-size:16px}
.btn-back-edit{float:left; color:#585858; font-size:16px}

a.btn-type-1{padding:5px 16px; color:white; background:#434343; margin-bottom:60px; font-size:24px; text-align:center } /* default color º1 */
a.btn-type-1-alt{font-size:17px; padding:10px 16px}
a.btn-type-1-del{color:red; position:absolute; left:100%; top:-8px; line-height:125%}

a.btn-del{padding:5px 20px; background:red; float:left; margin-bottom:5px; color:white}
a.btn-edit{position:relative; text-align:center; float:left; clear:left; position:relative;
	background:url(../images/1-backgrounds/editar-text.png) no-repeat 50% 50% rgba(255, 255, 255, 0.2)/* display:inline-block*/}
a.btn-edit img{opacity:0.2; filter:alpha(opacity=20)}
/*a.btn-edit:after{content:"Editar"; position:absolute; top:0; left:0; width:100%; height:100%; background:white}*/

a.btn-readmore{font-size:18px; color:#494949; display:block}


#footer-main article p span{padding:1px 16px; color:white; background:#434343; margin-bottom:60px; font-size:17px; text-align:center }

a.btn-new{padding:10px 16px; color:white; background:#434343; font-size:24px; position:absolute; top:140px; left:0; white-space:nowrap} /* default color º1 */

.navigation{width:80px; height:100px; display:block; position:absolute; top:50%; background:url(../images/2-buttons/menu.png) no-repeat 0 0}
.navigation.backward{background-position:-730px -285px; left:0}
.navigation.forward{background-position:-820px -285px; right:0}


/* reset */
a.last{margin-bottom:0}



/*
=============================================
11 FORM
=============================================
*/

form{width:480px; padding-top:50px; float:left; position:relative; 
	background:url(../images/1-backgrounds/bg-form-legend.png) no-repeat; margin-bottom:50px}
form fieldset{background:url(../images/1-backgrounds/bg-form-bg-y.png) repeat-y; /*line-height:0*/}
form fieldset legend{width:100%; text-align:center; position:absolute; top:15px; left:0; font-size:14px; text-transform:uppercase; color:#666}
form fieldset .field{padding:0 20px 0 26px; overflow:hidden}
form fieldset .field label{width:110px; padding-right:10px; text-align:right; float:left; margin-bottom:10px}
form fieldset .field input{width:300px; padding:7px; background:url(../images/global.png) no-repeat -7px -215px; float:left; border:none}
form fieldset .field textarea{width:300px;height:120px; padding:7px; background:url(../images/global.png) no-repeat -7px -245px; float:left; 			    resize:none; border:none}
form fieldset .actions{padding:0 0px 0 127px; overflow:hidden}
form fieldset .actions input{width:245px; height:50px; background:url(../images/global.png) no-repeat -330px -210px; 
	text-indent:-9999px; border:none}
form:after{width:480px; height:30px; position:absolute; left:0; bottom:-30px; background:url(../images/1-backgrounds/bg-form-bottom.png) no-repeat; content:""}
#content-top aside{float:left}

 div.actions{ margin:0}
.contact #content-top aside p{font-size:26px; color:#513b3b; margin:0 0 0 24px; line-height:140%}
.contact #content-top aside p span{font-size:40px}

body.cms form{clear:left}
.contact-header h1{margin:35px 0 5px 0}
.contact-header p{font-size:18px; margin-top:0}

#error_explanation{padding:20px; background:url("../images/1-backgrounds/bg-form-bg-y.png") repeat-y scroll 0 0 transparent}
#error_explanation h2{margin-top:0; color:red}
#error_explanation ul{margin-bottom:0; color:red}	

/*
=============================================
12 TABLES
=============================================
*/

table{width:100%; background:#434343; margin:10px 0 40px}

table th{color:white; padding-top:10px; padding-bottom:10px}
table td{border-bottom:1px solid #c5c5c5; padding:10px; border-right:1px solid #c5c5c5}
table tr td:nth-last-child(1){border-right:0}
table tr:nth-last-child(1) td{border-bottom:0}
table td a{margin:0 15px}
table tr td{background:white; text-align:center}

form fieldset .field label{line-height:150%}

/*
=============================================
12 CMS
=============================================
*/


label.radio{width:auto !important; text-align:left; margin-left:55px; display:inline}
input.radio{width:auto !important; float:left; margin-bottom:10px}
input.radio.left{margin-right:0px}




/*body.cms #container{background:none} */
body.cms #main.not-front #preface-top.del{background:none; border:0; height:auto; margin:0}
body.cms #main.not-front #preface-top.del .container_16{height:0}
body.cms #main.not-front #preface-top.del .container_16 .full-side {height:0; width:0}
body.cms #main.not-front #preface-top.del .container_16 .full-side img{display:none}
body.cms #main.not-front #preface-top.del .container_16 .half-side {height:0; width:0}
body.cms #main.not-front #preface-top.del .container_16 .half-side img{display:none}
body.cms #main.not-front #preface-top.del .container_16 a.btn-new{top:10px}

.field img{width:430px; height:170px; /* margin-left:130px*/}

a.link-back{float:left}


.admin-greeting{color:#333; margin-top:50px}
.admin-greeting p{color:#333; font-size:24px}
#admin .sidebar-inner{padding-top:20px}

/*
=============================================
X fancy (borders, radius, shadows,...)
=============================================
*/

/* border-radius #1 */
a.btn-type-1,
a.btn-new,
#footer-main article p span{-moz-border-radius:20px; -webkit-border-radius:20px; -o-border-radius:20px; border-radius:20px; behavior: url(../PIE.htc)}

table{-moz-border-radius:20px; -webkit-border-radius:20px; -o-border-radius:20px; border-radius:20px; behavior: url(../PIE.htc)}

table tr:nth-last-child(1) td:nth-last-child(1){-moz-border-radius:0px 0px 20px 0px; -webkit-border-radius:0px 0px 20px 0px; 
-o-border-radius:0px 0px 20px 0px; border-radius:0px 0px 20px 0px; behavior: url(../PIE.htc)}

table tr:nth-last-child(1) td:nth-child(1){-moz-border-radius:0 0 0 20px; -webkit-border-radius:0 0 0 20px; -o-border-radius:0 0 0 20px; 
border-radius:0 0 0 20px; behavior: url(../PIE.htc)}


/* border-radius #2 */
#admin p span{-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; behavior: url(../PIE.htc)}
a.btn-del{-moz-border-radius:35px; -webkit-border-radius:35px; -o-border-radius:35px; border-radius:35px; behavior: url(../PIE.htc)}

/* default color #1 (#bcbec0) */
#null{border:5px solid #bcbec0}

/* default color #2 (#6dcff6) */
#null{border:0px solid #6dcff6}



.social-buttons a{-moz-transition:none;  /* FF3.7+ */ -o-transition:none;  /* Opera 10.5 */ -webkit-transition:none;  /* Saf3.2+, Chrome */ transition:none}



#admin p span{display:block; padding:10px; background:white; width:400px}


/*
=============================================
Y fixes
=============================================
*/

/* ie7*/
#main-menu li{zoom:1; *display:inline}
#main-menu li a{behavior: url(../PIE.htc)}

/*
=============================================
Z Kosmyka
=============================================
*/

a#kosmyka{display:block; width:200px; height:25px; background:url(../images/kosmyka.png) no-repeat}
a#kosmyka:hover{background-position:0 -30px}
a#kosmyka:active{background-position:0 -60px}
a#kosmyka span{display:none}
a#kosmyka{-moz-transition:none;  /* FF3.7+ */ -o-transition:none;  /* Opera 10.5 */ -webkit-transition:none;  /* Saf3.2+, Chrome */ transition:none}
