<div id="main" role="main" class="not-front contact new">
	<section id="preface-top" >
    	<div class="container_16">
     		<div class="full-side contact-header">
            <h1>Contáctanos</h1>
            <p>
              <% if params[:notice] %>
                <%= params[:notice] %>
              <% else %>
                Resolveremos todas tus dudas.
              <% end %>
              </p>
            </div>
        </div>
	</section>

	<section id="content-top" class="bevel-1-bottom">

    	<article class="container_16">
			 <%= render 'form' %>
			 <aside>
			 	<p>
				<span>Servicio al cliente</span></br>
				2495257 / 4455059</br>
				999857980 / 413*1130</br>
				Grimaldo del Solar 231 Oficina 101</br>
                                Miraflores, Lima, Perú.
				</p>
			</aside>
        </article>
	</section>

    <section id="content" class="bevel-1-top">
    	<article class="container_16">



        	<footer>


        	</footer>
        </article>

    </section>


</div>















<!--
<%= link_to 'Back', contacts_path %>-->
