<div id="main" role="main" class="not-front contact new">
	<section id="preface-top" >
    	<div class="container_16">
     		<div class="full-side contact-header">
            <h1>Trabaja con nosotros</h1>
			<p>*Únete a nuestro equipo de trabajo y desarrolla tu nivel profesional.</p>
            </div>
        </div>
	</section>

	<section id="content-top" class="bevel-1-bottom">
		
    	<article class="container_16">
			 Porque la calidad de nuestro capital humano en esta empresa es la base de nuestro trabajo y resultados, estamos interesados en la captación de profesionales de alto nivel para que formen parte de esta gran empresa.
			 <aside>
			 	<p>Envíe su Currículo Vitae (CV) a la siguiente dirección y lo contactaremos con prontitud:  
				info@laboralmedicalperu.com
				</p>
			</aside>
        </article>               
	</section>
    
    <section id="content" class="bevel-1-top">
    	<article class="container_16">
		
      		   
        	
        	<footer>
        		
		
        	</footer>
        </article>

    </section>
    
    
</div>

